/* =================================
  Base Element Styles
==================================== */
body {
	line-height: 1.6;
	background: #d9d9d9;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container {
  text-align: center;
}

.hearingAidStyle {
  text-align: center;
  margin: 2em;
  padding: 1em;
  font-size: 30px;
}

.hearingAidMake {
  background-color: black;
}


/* ---- Page Elements ---- */

h1 {
  margin-bottom: 2em;
  font-size: 40px;
}

button {
  margin: .5em;
  padding: .5em;
}

input {
    margin-left: 2em;
}

input[type=radio] {
    border: 10px;
    width: 1em;
    height: 1em;
    color: red;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

  .wrap {
    min-height: calc(100vh - 89px);
  }

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

  .container li {
    display: inline;
    padding: 1em;
  }
