// Connect
.container-fluid.padding
  .row.text-center.padding
    .col-12
      h2 Connect
    .col-12.social.padding
      a(href='#')
        i.fab.fa-facebook
      a(href='#')
        i.fab.fa-twitter
      a(href='#')
        i.fab.fa-slack
      a(href='#')
        i.fab.fa-google-plus-g
