// footer
footer
  .container-fluid.padding
    .row.text-center
      .col-md-6
        hr.light
        h5 Webmaster
        hr.light
        p Amanda Gray-Baum Au.D
      .col-md-6
        hr.light
        h5 Last Update
        hr.light
        p 02 May 2018
      .col-12
        hr.light
        h5 © afbaum.inc
