
// Main Navigation
nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
  .container-fluid
    if currentUser
      a.btn.btn-light.pull-md-right(href='/logout') Log Out
    else
      a.btn.btn-light.pull-md-right(href='/login') Sign Up
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarList')
      span.navbar-toggler-icon
    #navbarList.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='#') Home
        li.nav-item
          a.nav-link(href='#') Hearing Aids
        li.nav-item
          a.nav-link(href='#') Cochlear Implants
        li.nav-item
          a.nav-link(href='#') Tinnitus
        li.nav-item
          a.nav-link(href='#') Coding
        li.nav-item
          a.nav-link(href='#') Comp & Pen
        li.nav-item
          a.nav-link(href='#') Q&A
