extends layout.pug

block content
  section#content
  // Please Register Section
  .container-fluid.padding
    .row.welcome.text-center
      .col-12
        h1.display-4 Please Log In for Access to Site
      hr
  // Sign in form
  .container-fluid.padding
    .row.text-center
      .col-12
        form(method='POST', action='/login')
          .form-group
            label(for='email')
              | email: 
              label
                input#email.form-control(type='email', placeholder='name@VA.gov', name='email')
          .form-group
            label(for='pw')
              | Password: 
              label
                input#pw1.form-control(type='password', name='password')
          button.btn.btn-primary(type='submit') Log In
