extends layout.pug

block content
  section#content
  // Please Register Section
  .container-fluid.padding
    .row.welcome.text-center
      .col-12
        h1.display-4 Please Log In for Access to Site
      hr
  .container-fluid.padding
    .row.text-center
      .col-12
        h1 #{name}
  .container-fluid.padding
    .row.text-center
      .col-12
        h1 #{email}
        
